body {
    background-image: url(background.jpg);
    background-size: cover; 
    width: 1000px;
    margin: auto;  
    font-family: 'Poppins', sans-serif;
}

#container {
    background-color: rgba(8,8,8,0.5); 
    border-radius: 10px;
    margin: 2%;
    padding: 7%;
}

/* Sezione superiore */

#logo {
    width: 170px;
    margin: auto;
}

#logo img {
    width: 100%;
}

header h2 {
    color: rgb(141, 216, 28);
    margin: 5px;
}

nav {
    background-color: rgb(142, 212, 37);
    padding: 1%;
}

header, nav {
    text-align: center;
}

/* Contenuto */

main {
    color: white;
}

.load1, .load2, .load3 {
    padding: 10px;
    border-radius: 3px;
}

.load1 {
    background-color: orange;
    width: 250px;
}

.load2 {
    background-color: rgb(34, 211, 34);
    width: 400px;
}

.load3 {
    background-color: red;
    width: 100px;
}

.square {
    width: 8px;
    height: 8px;
    background: white;
    display: inline-block;
}

.info h4 {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0;
   
}

.info p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.795);
    margin: 1px;
}
